# This Software is part of Wind River Simics. The rights to copy, distribute,
# modify, or otherwise make use of this Software may be licensed only
# pursuant to the terms of an applicable Wind River license agreement.
#
# Copyright 2015 Intel Corporation

from common import run_test

run_test('[% NAME %]_awareness')

